<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Gelani_Vishal" setup_version="0.0.1"/>
</config>


Setup Cron Job In Magento2 - http://webkul.com/blog/learn-setup-cron-job-magento2/